#map {
  position: relative;
  width: 100%;
  height: 17em;
}

@media screen and (max-width: 1366px) {
  #map {
    height: 12.5em;
  }
}

@media screen and (max-width: 960px) {
  #map {
    // height: 12.5em;
  }
}
