#sidebar {
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    color: #222222;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    .sidebar-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 30.5rem;
      max-width: 1920px;
      padding: 46px 50px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: #ffffff;

      .title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 24px 0;

        .close {
          width: 2rem;
          text-align: center;
          cursor: pointer;
        }
      }

      .nav {
        .nav-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.25rem;
          margin-bottom: 1.25rem;
        }

        .searched {
          display: flex;
          flex-direction: column;
          max-width: 350px;
          gap: 0.75rem;
          padding: 16px 18px;
          margin: 0 auto;

          .search-area {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 3rem;
            border: 2px solid #272c30;
            border-radius: 24px;

            input {
              font-size: 18px;
              color: inherit;
              background-color: transparent;
              width: 80%;
              height: 1.3rem;
            }
          }

          .history-title {
            font-size: 20px;
            color: #5d5d5d;
            margin-top: 12px;
          }

          .history {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            grid-row-gap: 16px;
            grid-column-gap: 8px;

            .tag-item {
              padding: 6px 24px;
              border-radius: 22px;
              background-color: #ebebeb;

              span {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .backdrop .container {
    width: 31.5rem;
  }

  .backdrop .container .nav .nav-list .search-area {
    width: 21rem;
  }
}

@media screen and (max-width: 960px) {
  .backdrop .container {
    width: 32.5rem;
  }

  .backdrop .container .nav .nav-list .search-area {
    width: 22rem;
  }
}
