#main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid #272c30;
      border-radius: 24px;
      width: 42rem;
      height: 3rem;
      margin-bottom: 24px;

      input {
        font-size: 18px;
        color: inherit;
        background-color: transparent;
        width: 80%;
        height: 1.3rem;
      }

      span {
        font-weight: 600;
        color: inherit;
        background-color: transparent;
      }
    }

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      justify-items: center;
      padding: 12px 24px;
      max-width: 1920px;
      margin: 0 auto;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 120px;
        height: 120px;
        border: 1px solid #272c30;

        .item-img {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #272c30;
          width: 48px;
          height: 48px;
          border-radius: 100%;
        }

        .name {
          color: #222222;
          font-weight: 700;
          background-color: transparent;
        }
      }

      .item:last-child {
        display: flex;
        justify-content: center;
        background-color: #272c30;

        .item-img {
          cursor: pointer;
          background-color: #ffffff;
          border: 1px dashed #272c30;

          img {
            background: transparent;
          }
        }
      }
    }

    @media screen and (max-width: 1366px) {
      .search {
        width: 36rem;
      }

      .container {
        grid-template-columns: repeat(3, 1fr);

        .item {
          width: 110px;
          height: 110px;
        }
      }
    }

    @media screen and (max-width: 960px) {
      .search {
        width: 23rem;

        input {
          font-size: 16px;
        }

        span {
          display: none;
        }
      }

      .container {
        grid-template-columns: repeat(2, 1fr);

        .item {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
