#main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 3rem;

    .container {
      width: 62.5rem;

      .tab {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        
        .tab-title {
          font-size: 2.5rem;
          margin-top: 1.5rem;
          margin-bottom: 0.875rem;
        }

        .items-container {
          display: flex;
          flex-direction: row;
          justify-items: center;
          padding: 12px 24px;
          gap: 1.25rem;
          max-width: 1920px;
          overflow-x: scroll;

          .item {
          }
        }
      }
    }

    @media screen and (max-width: 1366px) {
      .container {
        width: 50rem;

        .tab-title {
          font-size: 2.25rem;
        }

        .item img {
          width: 90px;
          height: 90px;
        }
      }
    }

    @media screen and (max-width: 960px) {
      .container {
        width: 37.5rem;

        .tab-title {
          font-size: 2rem;
        }

        .item img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
