#main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    max-width: 1920px;
    margin-top: 3rem;

    .container {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      width: 62.5em;

      .tab {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .tab-title {
          font-size: 38px;
          margin-left: 2.55rem;
          margin-bottom: 0.875rem;
        }

        .items-container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          row-gap: 3.125rem;

          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 80%;
              height: auto;
              cursor: pointer;
              border-radius: 24px;
            }
          }

          .item.disabled {
            opacity: 0.5;
            pointer-events: none;

            img {
              cursor: no-drop;
            }
          }
        }

        @media screen and (max-width: 1366px) {
          .items-container {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3.75rem;
          }
        }

        @media screen and (max-width: 960px) {
          .items-container {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.25rem;

            .item img {
              width: 60%;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1366px) {
      .container {
        width: 56.25em;

        .tab .tab-title {
          font-size: 34px;
          margin-left: 1.5rem;
        }
      }
    }

    @media screen and (max-width: 960px) {
      .container {
        width: 31.25em;

        .tab .tab-title {
          font-size: 32px;
          text-align: center;
          margin-bottom: 0.875rem;
        }
      }
    }
  }
}
