#total {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 26.875em;
  max-width: 1920px;
  overflow-x: hidden;

  .total-container {
    width: 62.5em;
    display: flex;
    justify-content: center;
    margin-top: 5em;
    padding-bottom: 5em;

    .list-area {
      width: 100%;
      height: 100%;
      min-width: 320px;
      min-height: 570px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
      margin-top: 2.25em;
      padding-top: 1.5em;
      justify-items: center;
      border-radius: 8px;
      box-shadow: 0px 12px 10px rgb(0, 0, 0, 0.2);

      .list {
        margin: 18px 0;

        .poster {
          width: 375px;
          height: 530px;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
          }
        }

        @media screen and (max-width: 1366px) {
          .poster {
            width: 350px;
            height: 500px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        @media screen and (max-width: 960px) {
          .poster {
            width: 325px;
            height: 470px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .tags {
          display: flex;
          flex-direction: row;
          margin-top: 14px;
          width: 100%;
          min-width: 150px;
          max-width: 350px;
          justify-content: center;
          align-items: center;
          word-break: break-word;
          white-space: normal;

          span {
            font-size: 18px;
            padding-right: 6px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1366px) {
    .total-container {
      width: 56.25em;

      .list-area {
        grid-gap: 0;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .total-container {
      width: 31.25em;
      min-width: 20em;

      .list-area {
        width: 80%;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        box-shadow: none;
      }
    }
  }
}
